
# Provider

## DeepSeek
DEEPSEEK_API_KEY=
DEEPSEEK_BASE_URL=https://api.deepseek.com

## Claude
ANTHROPIC_API_KEY=
ANTHROPIC_BASE_URL=https://api.deepseek.com/anthropic

# Model
MODEL=deepseek-v4-flash

# App
APP_ENV=local


# LOG_LEVEL
LOG_LEVEL=INFO